<section class="container-fluid">
  <div class="row">
    <!--Tab feeds va discover-->
    <%= render '/layouts/tab_feeds'%>

      <article class="tab-content col-md-9" >
         <div class="col-sm-8 col-lg-10" style="background-color: white">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h1>Editing Photo</h1>
                  <hr>
                </div>
              </div>
              <%= form_with(model: @photo, local: true) do |form| %>
                <% if @photo.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

                    <ul>
                    <% @photo.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
              <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                        <div class="field">
                          <b><%= form.label :title %></b>
                          <%= form.text_field :title, class:"form-control" %>
                        </div>
                    </div>

                    <div class="form-group w-50">
                      <b><label>Sharing Mode</label></b>
                      <%= form.select(:sharing_mode, class:"form-control") do %>
                          <% [['Public', true], ['Private', false]].each do |c| -%>
                            <%= content_tag(:option, c.first, value: c.last) %>
                          <% end %>
                        <% end %>
                    </div>

                  </div>

                  <div class=" col-12 col-lg-6">
                    <div class="form-group">
                        <div class="field">
                          <b><%= form.label :description %></b>
                          <%= form.text_area :description, class:"form-control", rows:"6" %>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col images">
                    <div class="upload-btn-wrapper float-left sizeMyPhotos">
                      <div class="img float-left mt-2 mr-1">
                        <div ng-repeat="file in imagefinaldata" class="img_wrp">
                          <%= image_tag(@photo.image.url, class:"sizeMyPhotos") if @photo.image.exists? %>
                          <img class="btnClose m-1" src="/assets/close.png" onclick="clickEditPhoto(this)"style="width:30px; height: 30px" />
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="row mt-5 m-1">
                    <div class="actions">
                      <%= form.submit "Save", class:"btn btnSubmit mr-2" %>
                    </div>
                    <div class="actions">
                      <%= form.submit "Delete", class:"btn btnDelete ml-2" %>
                    </div>
                </div>
                <% end %>
            </div>
      </article>
      </div>
    </div>
  </section>


<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %>
